<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STPRYEJ2MV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-STPRYEJ2MV');
    </script>
    <meta charset="UTF-8">
    <title>Talent Show 2020 | Admin</title>
    <link rel="icon" href="../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/bootstrap/css/style.css" th:href="@{/bootstrap/css/style.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
</head>
<body>
<div class="container">
    <div class="row bg-light p-5">
        <div class="text-center">
            <h1>Vote Progress</h1>
        </div>
        <ul class="list-group w-100">
            <li th:each="candidate : ${candidates}" class="list-group-item mb-2">
                <span th:text="${candidate.getName() + ' '}"></span>
                <span th:text="${candidate.getVotes() + ' votes'}" class="text-info"></span>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                         th:style="|width: ${1.0 * candidate.getVotes() / ballotsNumber * 100}%;|"
                         th:text="|${#numbers.formatInteger((1.0 * candidate.getVotes() / ballotsNumber * 100),1)}%|"></div>
                </div>
            </li>
        </ul>
    </div>
    <div class="row bg-light p-5 mt-5">
        <div>
            <h1>Draw Ticket</h1>
        </div>
        <div class="w-100"></div>
        <div>
            <form action="/admin/ticketDraw" method="post">
                <button type="submit" class="btn btn-primary">Draw</button>
            </form>
        </div>
    </div>
    <div class="row bg-light p-5 mt-5">
        <div>
            <h1>Ticket sell</h1>
        </div>
        <div class="w-100"></div>
        <div>
            <h3 th:text="|We have selled ${ticketsNumbers} tickets|">We have selled 30 tickets</h3>
        </div>
    </div>
    <div class="row bg-light p-5 mt-5">
        <div>
            <h1>App Parameter</h1>
        </div>
        <div class="w-100">
            <div class="alert alert-danger" th:if="${param.paramError !=null }" th:text="${param.paramError}">

            </div>
            <form method="post" action="/admin">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <div class="input-group-text">START</div>
                    </div>
                    <input name="startDate" th:value="${date}" class="form-control" type="date" min="2020-12-04" style="max-width: 200px;">
                    <input name="startTime" th:value="${time}" class="form-control" type="time" style="max-width:
                    140px;">
                </div>
                <div class="form-group mb-3 input-group-sm">
                    <label for="votesPerPerson">Each person can only cast votes</label>
                    <select name="votesPerPerson" class="form-control" id="votesPerPerson">
                        <option value="1" th:selected="${#strings.equals(votesPerPerson,'1')} ? 'true': 'false'">1</option>
                        <option value="2" th:selected="${#strings.equals(votesPerPerson,'2')} ? 'true': 'false'">2</option>
                        <option value="3" th:selected="${#strings.equals(votesPerPerson,'3')} ? 'true': 'false'">3</option>
                        <option value="4" th:selected="${#strings.equals(votesPerPerson,'4')} ? 'true': 'false'">4</option>
                        <option value="5" th:selected="${#strings.equals(votesPerPerson,'5')} ? 'true': 'false'">5</option>
                        <option value="6" th:selected="${#strings.equals(votesPerPerson,'6')} ? 'true': 'false'">6</option>
                        <option value="7" th:selected="${#strings.equals(votesPerPerson,'7')} ? 'true': 'false'">7</option>
                        <option value="8" th:selected="${#strings.equals(votesPerPerson,'8')} ? 'true': 'false'">8</option>
                        <option value="9" th:selected="${#strings.equals(votesPerPerson,'9')} ? 'true': 'false'">9</option>
                        <option value="10" th:selected="${#strings.equals(votesPerPerson,'10')} ? 'true': 'false'">10</option>
                    </select>
                </div>
                <div class="custom-control custom-switch">
                    <input name="verification" th:checked="${enableVerificationCode}" type="checkbox" class="custom-control-input" id="customSwitch1">
                    <label class="custom-control-label" for="customSwitch1">Verification code</label>
                </div>
                <div class="row justify-content-center mt-2">
                    <button class="btn btn-outline-success rounded-pill" style="min-width: 188px;" type="submit">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>