<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STPRYEJ2MV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-STPRYEJ2MV');
    </script>
    <meta charset="UTF-8">
    <title>Talent Show 2020 | Exception</title>
    <link rel="icon" href="../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../bootstrap/css/style.css" th:href="@{bootstrap/css/style.css}">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center text-center">
        <div class="col h-100 p-4 text-center" style="margin-top: 100px">
            <h3>sorry you have faced a client error, a syntax error, or a request cannot be completed.</h3>
            <h3>for technical support, please contact Kristina</h3>
        </div>
    </div>
</div>

</body>
</html>