<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-STPRYEJ2MV"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'G-STPRYEJ2MV');
    </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Talent Show 2020 | TEST</title>
    <link rel="icon" href="../favicon.ico" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="bookmark" th:href="@{/favicon.ico}" type="image/x-icon"/>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/bootstrap/iconfont/iconfont.css"
          th:href="@{/bootstrap/iconfont/iconfont.css}">
    <script src="../static/bootstrap/js/jquery-3.5.1.slim.min.js"
            th:src="@{/bootstrap/js/jquery-3.5.1.slim.min.js}"></script>
    <script src="../static/bootstrap/js/popper.min.js" th:src="@{/bootstrap/js/popper.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.js" th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script>
        function voted1() {
            var email = document.getElementById("voteEmail");
            var votes = document.getElementsByClassName("checkbox");
            var cnt = 0;
            for (var i = 0; i < votes.length; i++) {
                if (votes[i] && votes[i].checked) cnt++;
            }
            if (email.value == "") {
                // alert("you haven't enter your email!");
                document.getElementById('voteEmailError1').style.visibility = "visible";
                return;
            } else {
                document.getElementById('voteEmailError1').style.visibility = "hidden";
            }
            if (email.value.indexOf("@") == -1 || email.value.indexOf(".") == -1) {
                // alert("Email format is incorrect!");
                document.getElementById('voteEmailError2').style.visibility = "visible";
                return;
            } else {
                document.getElementById('voteEmailError2').style.visibility = "hidden";
            }
            if (cnt <= 0) {
                // alert("Please choose a candidate!");
                document.getElementById('voteCheckError1').style.visibility = "visible";
                return;
            } else {
                document.getElementById('voteCheckError1').style.visibility = "hidden";
                document.forms[0].submit();
            }
        }

    </script>
</head>
<body th:onload="${second > 0 } ? 'javascript:countDown('+${second}+');': ''">
<div name="banner" class="container-fluid w-100" style="height: 200px;background-color: #F0F0F0;">
    <div class="row mx-0 align-items-center justify-content-center h-100">
        <img class="w-80" src="../static/image/TalentShow2020.png" th:src="@{/image/TalentShow2020.png}"
             style="max-width: 350px;">
    </div>
</div>
<div name="context" class="container">
    <div name="twitch" class="row mx-0 mt-3">
        <div class="w-100" id="twitch-embed"></div>
    </div>
    <div name="paypal" class="row w-100 mt-3 mx-0">
        <div class="row w-100">
            <ul class="nav nav-tabs nav-fill w-100" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home"
                       style="font-size: x-large">50/50 tickets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile"
                       style="font-size: x-large">Donate</a>
                </li>
            </ul>
        </div>
        <div class="tab-content w-100" id="myTabContent">
            <div class="tab-pane fade show active w-100" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div name="lottery" class="row w-100 m-auto justify-content-center">
                    <div class="col-md-6">
                        <div name="lotteryImage" class="row justify-content-center mt-1">
                            <img class="w-50" src="../static/image/ticket.jpeg" th:src="@{/image/ticket.jpeg}"
                                 alt="...">
                        </div>
                        <div name="lotteryDescription" class="mt-3">
                            <h5 class="">50/50 tickets</h5>
                            <p class="">Winner of this lottery gets half of the funds raised for the entire show.
                                Results will be announced before the winners of the show are announced.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div name="lotteryEmailParent" class="form-group">
                            <small name="lotteryEmailError" id="lotteryEmailError"
                                   class="alert alert-danger form-text text-center my-1 py-0"
                                   style="visibility: hidden;">Please enter your email</small>
                            <input name="lotteryEmail" id="lotteryEmail" type="email"
                                   class="form-control form-control-sm" placeholder="Please enter your email">
                            <small class="form-text text-muted">We'll never share your email with anyone.</small>
                        </div>
                        <div name="lotteryTickets" class="my-3" th:remove="${session.tickets !=null } ? none : all">
                            <button class="btn btn-success btn-sm rounded-pill w-100" data-toggle="collapse"
                                    data-target="#tickets" th:text="|You have ${session.tickets.size()} tickets|">show
                                ticket number
                            </button>
                            <div class="collapse my-3" id="tickets">
                                <div class="d-block card card-body text-center mb-3 border-warning px-0"
                                     th:each="ticket : ${session.tickets}"
                                     style="background-image: url('/image/lotteryBackground.png');background-repeat: no-repeat;background-size: auto 100%;border-width: medium;">
                                <span class="" th:each="i:${#numbers.sequence(0,5)}">
                                    <span th:class="|text-danger iconfont icon-shuzi${#strings.substring(ticket.getNumber(), i, i+1 )}|"
                                          style="font-size: x-large;"></span>
                                </span>
                                </div>
                            </div>
                        </div>
                        <div name="smart-button-container1" id="smart-button-container1" class=""
                             style="margin-top: 43px;">
                            <div style="text-align: center;">
                                <div style="margin-bottom: 1.25rem;">
                                    <select id="item-options">
                                        <option value="50/50 ticket" price="5.00">50/50 ticket - 5.00 CAD</option>
                                    </select>
                                    <select style="visibility: hidden" id="quantitySelect">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <div id="paypal-button-container1"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade w-100" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div name="fundraising" class="row m-auto w-100 justify-content-center">
                    <div class="col-md-6">
                        <div name="fundraisingImage" class="row justify-content-center mt-1">
                            <img class="w-50" src="../static/image/donate.png" th:src="@{/image/donate.png}" style="max-width: 275px;">
                        </div>
                        <div name="fundraisingDescription" class="mt-3">
                            <h5 class="">Donate</h5>
                            <p class="">No fixed amount required. We are incredibly grateful for your support!</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div name="fundraisingRemarksParent" class="form-group">
                            <small name="fundraisingRemarksError" id="fundraisingRemarksError"
                                   class="alert alert-danger form-text text-center my-1 py-0"
                                   style="visibility: hidden;">Please enter a description</small>
                            <input name="fundraisingRemarks" id="fundraisingRemarks"
                                   class="form-control form-control-sm" type="text" maxlength="127" value=""
                                   placeholder="">
                            <small class="form-text text-muted">Please enter a description</small>
                        </div>
                        <div name="donations" class="my-3" th:remove="${session.isDonate != null} ? none : all">
                            <button class="btn btn-success btn-sm rounded-pill w-100"
                                    th:text="'Thank you for your donation!'">Thank you for
                                your donation
                            </button>
                        </div>
                        <div name="smart-button-container2" id="smart-button-container2" class="">
                            <div class="form-group mb-0">
                            </div>
                            <div class="form-group">
                                <small class="alert alert-danger form-text mt-1 mb-1 py-0 text-center"
                                       id="priceLabelError" style="visibility: hidden;">Please enter a price</small>
                                <div class="input-group input-group-sm" style="text-align: center">
                                    <input class="form-control" name="amountInput" type="number" id="amount"
                                           placeholder="Fundraising amount" value="">
                                    <div class="input-group-append">
                                        <span class="input-group-text">CAD</span>
                                    </div>
                                </div>
                            </div>
                            <!--                <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>-->
                            <!--                <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>-->
                            <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container2"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div name="candidate" class="card-group mx-0 justify-content-center text-center">
        <div class="row w-100 justify-content-center text-center mx-0">
            <div class="col-12">
                <h3 class="w-100">Voting</h3>
                <p class="text-muted small">Vote for your TOP THREE performances during the 5 minute voting period after all acts are done. Please use a valid email address.
                </p>
                <div th:if="${param.error!=null}" th:text="${param.error}" class="alert alert-danger rounded-pill" role="alert">
                    A simple danger alert—check it out!
                </div>
                <div th:if="${param.message!=null}" class="alert alert-success rounded-pill mb-3"
                     th:text="${param.message} ? ${param.message} : ''">Thank you !
                </div>
            </div>
        </div>
        <form action="/vote" method="post">
            <div class="row w-100 mx-0 justify-content-center">
                <div class="col-lg-6 mb-3" style="">
                    <div class="card h-100">
                        <!--                        <div class="card-header" style="background-color: #F0F0F0">Alina</div>-->
                        <!--                        <img class="card-img-top" src="../static/image/candidate/candidate1.jpg" th:src="@{/image/candidate/candidate1.jpg}" alt="Card image cap">-->
                        <iframe style="min-height: 250px;" class="" src="https://www.youtube.com/embed/MPbUaIZAaeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="input-group input-group-sm">
                                <label class="form-control text-center" style="background-color: #F0F0F0;">Please vote for Alina</label>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="checkbox" type="checkbox" name="vote1" value="Alina">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3" style="">
                    <div class="card h-100">
                        <!--                        <div class="card-header" style="background-color: #F0F0F0">Anna</div>-->
                        <!--                        <img class="card-img-top" src="../static/image/candidate/candidate1.jpg" th:src="@{/image/candidate/candidate1.jpg}" alt="Card image cap">-->
                        <iframe style="min-height: 250px;" class="" src="https://www.youtube.com/embed/MPbUaIZAaeA" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        <div class="card-body">
                            <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="input-group input-group-sm">
                                <label class="form-control text-center" style="background-color: #F0F0F0;">Please vote
                                    for Anna</label>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="checkbox" type="checkbox" name="vote2" value="Anna">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100 mx-0 justify-content-center">
                <div class="col-lg-6 mb-3" style="">
                    <div class="card h-100">
                        <!--                        <div class="card-header" style="background-color: #F0F0F0">Jason</div>-->
                        <img class="card-img-top" src="../static/image/candidate/candidate1.jpg" th:src="@{/image/candidate/candidate1.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="input-group input-group-sm">
                                <label class="form-control text-center" style="background-color: #F0F0F0;">Please vote
                                    for Jason</label>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="checkbox" type="checkbox" name="vote3" value="Jason">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3" style="">
                    <div class="card h-100">
                        <!--                        <div class="card-header" style="background-color: #F0F0F0">Paul</div>-->
                        <img class="card-img-top" src="../static/image/candidate/candidate1.jpg" th:src="@{/image/candidate/candidate1.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="input-group input-group-sm">
                                <label class="form-control text-center" style="background-color: #F0F0F0;">Please vote
                                    for Paul</label>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="checkbox" type="checkbox" name="vote4" value="Paul">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row w-100 mx-0 justify-content-center">
                <div class="col-lg-6 mb-3" style="">
                    <div class="card h-100">
                        <!--                        <div class="card-header" style="background-color: #F0F0F0">Roxana</div>-->
                        <img class="card-img-top" src="../static/image/candidate/candidate1.jpg" th:src="@{/image/candidate/candidate1.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="input-group input-group-sm">
                                <label class="form-control text-center" style="background-color: #F0F0F0;">Please vote
                                    for Roxana</label>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="checkbox" type="checkbox" name="vote5" value="Roxana">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-3" style="">
                    <div class="card h-100">
                        <!--                        <div class="card-header" style="background-color: #F0F0F0">Steven</div>-->
                        <img class="card-img-top" src="../static/image/candidate/candidate1.jpg" th:src="@{/image/candidate/candidate1.jpg}" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
                        </div>
                        <div class="card-footer border-0 bg-transparent">
                            <div class="input-group input-group-sm">
                                <label class="form-control text-center" style="background-color: #F0F0F0;">Please vote
                                    for Steven</label>
                                <div class="input-group-append">
                                    <div class="input-group-text">
                                        <input class="checkbox" type="checkbox" name="vote6" value="Steven">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <small name="voteCheckError1" id="voteCheckError1"
                       class="alert alert-danger form-text text-center my-1 py-0" style="visibility: hidden;">Please choose a candidate !</small>
                <small name="voteEmailError1" id="voteEmailError1"
                       class="alert alert-danger form-text text-center my-1 py-0" style="visibility: hidden;">Please enter your email</small>
                <small name="voteEmailError2" id="voteEmailError2"
                       class="alert alert-danger form-text text-center my-1 py-0" style="visibility: hidden;">Email format is incorrect !</small>
                <input type="email" required class="form-control form-control-sm" name="voteEmail" id="voteEmail" placeholder="Please enter your email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
                <button id="vote" type="button" onclick="voted1()" th:disabled="${second >0 } ? 'true': 'false'" th:text="${second >0} ? 'Please wait ...': 'Submit'" class="btn btn-primary mt-2 w-100 btn-sm rounded-pill"></button>
            </div>
        </form>
    </div>
</div>

<div name="footer" class="container-fluid mt-5" style="height: 50px;background-color: #F0F0F0;">
    <div class="row mx-0 align-items-center justify-content-center h-100 small text-muted">Copyright &copy;2020 All rights reserved to xClass.</div>
</div>
<!--
  Create a Twitch.Embed object that will render
  within the "twitch-embed" root element.
-->

<script src="https://embed.twitch.tv/embed/v1.js"></script>

<script type="text/javascript">
    var embed = new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: 480,
        channel: "Impact_Initiative",
        layout: "video-with-chat",
        autoplay: true,
        // only needed if your site is also embedded on embed.example.com and othersite.example.com
        parent: ["xclass.highspeed.vip"]
    });

    embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
    });
</script>

<script
        src="https://www.paypal.com/sdk/js?client-id=AViXcCKHnqll0J1Lh6mZNFeZ626CepBfscyBpuhV3jed0e8ZCvcMzP4n10eB2qx_gKtSfoZYxMOQgb1y&currency=CAD"
        data-sdk-integration-source="button-factory">
</script>

<script>
    function initPayPalButton1() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container1 #item-options");
        var quantity = parseInt(20);
        var quantitySelect = document.querySelector("#smart-button-container1 #quantitySelect");
        if (!isNaN(quantity)) {
            quantitySelect.style.visibility = "visible";
        }
        var orderDescription = '';
        if (orderDescription === '') {
            orderDescription = 'Item';
        }
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal'
            },
            onInit: function (data, actions) {
                actions.disable();
                document.getElementById("lotteryEmail").addEventListener("focusout", function (event) {
                    if (document.getElementById('lotteryEmail').value == "") {
                        actions.disable();
                    } else {
                        actions.enable();
                    }
                })
            },
            onClick: function (data, actions) {
                if (document.getElementById('lotteryEmail').value == "") {
                    document.getElementById('lotteryEmailError').style.visibility = "visible";
                    // alert("Please fill in the email address");
                }
            },
            createOrder: function (data, actions) {
                var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
                var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
                var tax = (0 === 0) ? 0 : (selectedItemPrice * (parseFloat(0) / 100));
                if (quantitySelect.options.length > 0) {
                    quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
                } else {
                    quantity = 1;
                }
                tax *= quantity;
                tax = Math.round(tax * 100) / 100;
                var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
                priceTotal = Math.round(priceTotal * 100) / 100;
                var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;
                return actions.order.create({
                    purchase_units: [{
                        description: orderDescription,
                        amount: {
                            currency_code: 'CAD',
                            value: priceTotal,
                            breakdown: {
                                item_total: {
                                    currency_code: 'CAD',
                                    value: itemTotalValue,
                                },
                                shipping: {
                                    currency_code: 'CAD',
                                    value: shipping,
                                },
                                tax_total: {
                                    currency_code: 'CAD',
                                    value: tax,
                                }
                            }
                        },
                        items: [{
                            name: selectedItemDescription,
                            unit_amount: {
                                currency_code: 'CAD',
                                value: selectedItemPrice,
                            },
                            quantity: quantity
                        }]
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    var id = details.id;
                    var orderType = "lottery";
                    var email = document.getElementById("lotteryEmail").value;
                    fetch(`/captureOrder?id=${id}&orderType=${orderType}&email=${email}`, {}).then(function () {
                        // alert("You have made the transaction. Thank you for your support !");
                        window.location.reload();
                    });
                });
            },
            onCancel: function (data) {
                var orderType = "lottery";
                fetch(`/orderCancel?orderType=${orderType}&message=Order is ${data.orderID} cancelled !`, {}).then(function () {
                    alert("You canceled the payment order !");
                });
            },
            onError: function (err) {
                var orderType = "lottery";
                fetch(`/orderError?orderType=${orderType}$message=${err.message}`, {}).then(function () {
                    alert("There was an error in payment, please try again !");
                });
            }
        }).render('#paypal-button-container1');
    }

    initPayPalButton1();
</script>

<script>
    function initPayPalButton2() {
        var description = document.querySelector('#fundraisingRemarks');
        var amount = document.querySelector('#smart-button-container2 #amount');
        var descriptionError = document.querySelector('#fundraisingRemarksError');
        var priceError = document.querySelector('#smart-button-container2 #priceLabelError');
        // var invoiceid = document.querySelector('#smart-button-container2 #invoiceid');
        // var invoiceidError = document.querySelector('#smart-button-container2 #invoiceidError');
        // var invoiceidDiv = document.querySelector('#smart-button-container2 #invoiceidDiv');

        var elArr = [description, amount];

        // if (invoiceidDiv.firstChild.innerHTML.length > 1) {
        //     invoiceidDiv.style.display = "block";
        // }

        var purchase_units = [];
        purchase_units[0] = {};
        purchase_units[0].amount = {};

        function validate(event) {
            return event.value.length > 0;
        }

        paypal.Buttons({
            style: {
                color: 'gold',
                shape: 'pill',
                label: 'paypal',
                layout: 'vertical',

            },

            onInit: function (data, actions) {
                actions.disable();

                // if (invoiceidDiv.style.display === "block") {
                //     elArr.push(invoiceid);
                // }

                elArr.forEach(function (item) {
                    item.addEventListener('keyup', function (event) {
                        var result = elArr.every(validate);
                        if (result) {
                            actions.enable();
                        } else {
                            actions.disable();
                        }
                    });
                });
            },

            onClick: function () {
                if (description.value.length < 1) {
                    descriptionError.style.visibility = "visible";
                } else {
                    descriptionError.style.visibility = "hidden";
                }

                if (amount.value.length < 1) {
                    priceError.style.visibility = "visible";
                } else {
                    priceError.style.visibility = "hidden";
                }

                // if (invoiceid.value.length < 1 && invoiceidDiv.style.display === "block") {
                //     invoiceidError.style.visibility = "visible";
                // } else {
                //     invoiceidError.style.visibility = "hidden";
                // }

                purchase_units[0].description = description.value;
                purchase_units[0].amount.value = amount.value;

                // if (invoiceid.value !== '') {
                //     purchase_units[0].invoice_id = invoiceid.value;
                // }
            },

            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: purchase_units,
                });
            },

            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    var id = details.id;
                    var orderType = "fundraising";
                    var desc = description.value;
                    fetch(`/captureOrder?id=${id}&orderType=${orderType}&description=${desc}`, {}).then(function () {
                        // alert("You have made the transaction. Thank you for your support !");
                        window.location.reload();
                    });
                });
            },

            onCancel: function (data) {
                var orderType = "fundraising";
                fetch(`/orderCancel?orderType=${orderType}&message=Order is ${data.orderID} cancelled !`, {}).then(function () {
                    alert("You canceled the payment order !");
                });
            },

            onError: function (err) {
                var orderType = "fundraising";
                fetch(`/orderError?orderType=${orderType}$message=${err.message}`, {}).then(function () {
                    alert("There was an error in payment, please try again !");
                });
            }
        }).render('#paypal-button-container2');
    }

    initPayPalButton2();
</script>

<script>
    function countDown(times) {
        var timer = setInterval(function () {
            if (times <= 0) {
                document.getElementById("vote").innerHTML = "Submit";
                document.getElementById("vote").disabled = false;
                clearInterval(timer);
                return;
            }
            var h = parseInt(times / 60 / 60);
            h = h < 10 ? '0' + h : h;
            var m = parseInt(times / 60 % 60);
            m = m < 10 ? '0' + m : m;
            var s = parseInt(times % 60);
            s = s < 10 ? '0' + s : s;
            times = times - 1;
            var temp = "" + h + " : " + m + " : " + s;
            document.getElementById("vote").innerHTML = temp;
        }, 1000);
    }
</script>

</body>
</html>