<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Index</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/style.css" th:href="@{bootstrap/css/style.css}">
    <script src="../static/bootstrap/js/jquery-3.5.1.slim.min.js"
            th:src="@{bootstrap/js/jquery-3.5.1.slim.min.js}"></script>
    <script src="../static/bootstrap/js/popper.min.js" th:src="@{bootstrap/js/popper.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.js" th:src="@{bootstrap/js/bootstrap.js}"></script>

    <script>
        function toast() {
            $("#myToast").toast('hide');
        }

        $(document).ready(function () {
            $(".show-toast").click(function () {
                $("#myToast").toast('show');
            });
        });

        function submit() {
            var email = document.getElementById("exampleInputEmail1");
            var votes = document.getElementsByClassName("form-check-input");
            var cnt = 0;
            for (var i = 0; i < 10; i++) {
                if (votes[i] && votes[i].checked) cnt++;
            }
            if (email.value == 0) {
                alert("you haven't enter your email!");
            } else if (cnt > 2) {
                alert("vote greater than 2");
            } else {
                document.forms[0].submit();
            }
        }

    </script>
    <style>
        img {
            height: 250px;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>

<div class="container" style="position: relative">
    <div aria-live="polite" aria-atomic="true" style="z-index: auto; position: absolute; top: 0; right: -50px;
    min-height: 200px;">
        <div th:if="${param.ticket != null}" class="toast show" id="myToast"
             data-autohide="false">
            <div class="toast-header">
                <strong class="mr-auto">Bootstrap</strong>
                <small>11 mins ago</small>
                <button th:onclick="'javascript:toast();'" type="button" class="ml-2 mb-1 close" data-dismiss="toast"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body" th:text="${'Thank you for your support! You ticket numbers are ' + param.ticket}">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>
    <div class="row" style="height: 200px;">
        <h1 class="col text-center center" style="line-height: 200px">Talent Show</h1>
    </div>
    <div class="row mb-4" id="twitch-embed"></div>
    <div class="row">
        <div class="col-md mr-sm-4 p-4 card">
            <img src="../static/image/vote.jpeg" th:src="@{image/vote.jpeg}" class="card-img-top" alt="...">
            <div class="card-body p-0 mb-5" style="flex: none">
                <h5 class="card-title">Vote</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div class="accordion" id="accordionExample">
                <div th:if="${param.error!=null}" th:text="${param.error}" class="alert alert-danger" role="alert">
                    A simple danger alert—check it out!
                </div>
                <form action="/vote" method="post">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" required class="form-control" name="email" id="exampleInputEmail1"
                               aria-describedby="emailHelp">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header" id="headingOne">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="vote1" value="Jason"
                                               id="defaultCheck1">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Jason
                                        </label>
                                    </div>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa
                                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice
                                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header" id="headingTwo">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="vote2" value="Alina"
                                               id="defaultCheck2">
                                        <label class="form-check-label" for="defaultCheck2">
                                            Alina
                                        </label>
                                    </div>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa
                                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice
                                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <div class="card mt-2">
                        <div class="card-header" id="headingThree">
                            <h2 class="mb-0">
                                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" name="vote3" value="Anna"
                                               id="defaultCheck3">
                                        <label class="form-check-label" for="defaultCheck3">
                                            Anna
                                        </label>
                                    </div>
                                </button>
                            </h2>
                        </div>

                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                             data-parent="#accordionExample">
                            <div class="card-body">
                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                                squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck
                                quinoa
                                nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
                                single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                                beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher
                                vice
                                lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you
                                probably haven't heard of them accusamus labore sustainable VHS.
                            </div>
                        </div>
                    </div>
                    <a type="button" onclick="submit()" class="btn btn-primary mt-4">Submit</a>
                </form>
            </div>
        </div>
        <div class="col-md mr-sm-4 p-4 card">
            <img src="../static/image/ticket.jpeg" th:src="@{image/ticket.jpeg}" class="card-img-top" alt="...">
            <div class="card-body mb-5 p-0" style="flex: none">
                <h5 class="card-title">50/50 tickets</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
            <div th:if="${param.ticket!=null}" th:text="${'Your ticket numbers are: ' + param.ticket}"
                 class="alert alert-success"
                 role="alert">
                A simple success alert—check it out!
            </div>

            <div id="smart-button-container">
                <div style="text-align: center;">
                    <div style="margin-bottom: 1.25rem;">
                        <select id="item-options">
                            <option value="50/50 ticket" price="5.00">50/50 ticket - 5.00 USD</option>
                        </select>
                        <select style="visibility: hidden" id="quantitySelect">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div id="paypal-button-container"></div>
                </div>
            </div>

            <form action="/ticket" method="post">
                <div class="form-group">
                    <label for="email2">Email address</label>
                    <input type="email" required class="form-control" name="email" id="email2"
                           aria-describedby="emailHelp">
                    <small id="email" class="form-text text-muted">We'll never share your email with anyone
                        else.</small>
                </div>
                <button type="submit" class="btn btn-primary show-toast" onclick="toast()">Buy</button>
            </form>
        </div>
        <div class="col-md p-4 card">
            <img src="../static/image/donate.jpeg" th:src="@{image/donate.jpeg}" class="card-img-top" alt="...">
            <div class="card-body mb-5 p-0" style="flex: none">
                <h5 class="card-title">Donate</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
            </div>
        </div>
    </div>
</div>

<script
        src="https://www.paypal.com/sdk/js?client-id=AYsnjLgEmwy2RIhy0QdO335NCySWCFKnxecxVmVhTVUxLE8hdw_ZNs1LvGD5sH61BErt2JxRuTc7I9Pn&currency=CAD"
        data-sdk-integration-source="button-factory"></script>
<script>
    function initPayPalButton() {
        var shipping = 0;
        var itemOptions = document.querySelector("#smart-button-container #item-options");
        var quantity = parseInt(20);
        var quantitySelect = document.querySelector("#smart-button-container #quantitySelect");
        if (!isNaN(quantity)) {
            quantitySelect.style.visibility = "visible";
        }
        var orderDescription = '';
        if (orderDescription === '') {
            orderDescription = 'Item';
        }
        paypal.Buttons({
            style: {
                shape: 'pill',
                color: 'gold',
                layout: 'vertical',
                label: 'paypal',

            },
            // // onInit is called when the button first renders
            // onInit: function (data, actions) {
            //     // Disable the buttons
            //     actions.disable();
            //     // Listen for changes to the checkbox
            //     document.querySelector('#email2')
            //         .addEventListener('change', function (event) {
            //             // Enable or disable the button when it is checked or unchecked
            //             actions.enable();
            //             console.log("激活付款按钮!")
            //         });
            // },
            // // onClick is called when the button is clicked
            // onClick: function () {
            //     // Show a validation error if the checkbox is not checked
            //     if (!document.querySelector('#email2').value != '') {
            //         actions.enable();
            //         // document.querySelector('#error').classList.remove('hidden');
            //     }
            // },
            createOrder: function (data, actions) {
                var selectedItemDescription = itemOptions.options[itemOptions.selectedIndex].value;
                var selectedItemPrice = parseFloat(itemOptions.options[itemOptions.selectedIndex].getAttribute("price"));
                var tax = (0 === 0) ? 0 : (selectedItemPrice * (parseFloat(0) / 100));
                if (quantitySelect.options.length > 0) {
                    quantity = parseInt(quantitySelect.options[quantitySelect.selectedIndex].value);
                } else {
                    quantity = 1;
                }
                tax *= quantity;
                tax = Math.round(tax * 100) / 100;
                var priceTotal = quantity * selectedItemPrice + parseFloat(shipping) + tax;
                priceTotal = Math.round(priceTotal * 100) / 100;
                var itemTotalValue = Math.round((selectedItemPrice * quantity) * 100) / 100;
                var create = actions.order.create({
                    purchase_units: [{
                        description: orderDescription,
                        amount: {
                            currency_code: 'CAD',
                            value: priceTotal,
                            breakdown: {
                                item_total: {
                                    currency_code: 'CAD',
                                    value: itemTotalValue,
                                },
                                shipping: {
                                    currency_code: 'CAD',
                                    value: shipping,
                                },
                                tax_total: {
                                    currency_code: 'CAD',
                                    value: tax,
                                }
                            }
                        },
                        items: [{
                            name: selectedItemDescription,
                            unit_amount: {
                                currency_code: 'CAD',
                                value: selectedItemPrice,
                            },
                            quantity: quantity
                        }]
                    }]
                });
                return create;
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    var id = details.id;
                    var intent = details.intent;
                    var status = details.status;
                    // var links = details.links[0].rel;
                    details.
                    var createTime = details.create_time;
                    var updateTime = details.update_time;
                    var payerID = details.payer.payer_id;
                    var payerGivenName = details.payer.name.given_name;
                    var payerSurname = details.payer.name.surname;
                    var payerEmail = details.payer.email_address;

                    fetch(`/captureOrder?id=${id}&intent=${intent}&status=${status}&createTime=${createTime}&updateTime=${updateTime}&payerID=${payerID}&payerGivenName=${payerGivenName}&payerSurname=${payerSurname}&payerEmail=${payerEmail}`), {}
                    alert('Transaction completed by ' + details.payer.name.given_name + '!');
                    location.reload();
                });
            },
            onCancel: function (data) {
                fetch(`/orderCancel?message=cancel`), {}
                console.log("CANCEL-1: " + data);
                console.log("CANCEL-2: " + data.orderId);
            },
            onError: function (err) {
                fetch(`/orderError?message=${err.message}`), {}
                console.log(err);
            }
        }).render('#paypal-button-container');
    }

    initPayPalButton();
</script>

<script src="https://embed.twitch.tv/embed/v1.js"></script>

<!--
  Create a Twitch.Embed object that will render
  within the "twitch-embed" root element.
-->
<script type="text/javascript">
    var embed = new Twitch.Embed("twitch-embed", {
        width: "100%",
        height: 480,
        channel: "monstercat",
        layout: "video-with-chat",
        autoplay: true,
        // only needed if your site is also embedded on embed.example.com and othersite.example.com
        parent: ["xclass.highspeed.vip"]
    });

    embed.addEventListener(Twitch.Embed.VIDEO_READY, () => {
        var player = embed.getPlayer();
        player.play();
    });
</script>

</body>
</html>