<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css" th:href="@{bootstrap/css/bootstrap.css}">
    <link rel="stylesheet" href="../static/bootstrap/css/style.css" th:href="@{bootstrap/css/style.css}">
    <script src="../static/bootstrap/js/jquery-3.5.1.slim.min.js"
            th:src="@{bootstrap/js/jquery-3.5.1.slim.min.js}"></script>
    <script src="../static/bootstrap/js/popper.min.js" th:src="@{bootstrap/js/popper.min.js}"></script>
    <script src="../static/bootstrap/js/bootstrap.js" th:src="@{bootstrap/js/bootstrap.js}"></script>
    <script src="../static/bootstrap/iconfont/iconfont.js" th:src="@{bootstrap/iconfont/iconfont.js}"></script>
    <style>
        .icon {
            width: 2em;
            height: 2em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="row text-center" th:text="${username}">

</div>
<div class="row align-items-center mb-4">
    <div class="mx-auto p-5"
         style="background-image: url(' ../static/image/lottery.jpg');background-size: cover;width: 400px;height: 146px">
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi0"></use>
        </svg>
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi1"></use>
        </svg>
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi2"></use>
        </svg>
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi3"></use>
        </svg>
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi4"></use>
        </svg>
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi5"></use>
        </svg>
    </div>
</div>
<div class="row align-items-center mb-4">
    <div class="mx-auto p-5"
         style="background-image: url(' ../static/image/lottery.jpg');background-size: cover;width: 400px;height: 146px">
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi0"></use>
        </svg>
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi1"></use>
        </svg>
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi2"></use>
        </svg>
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi3"></use>
        </svg>
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi4"></use>
        </svg>
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi5"></use>
        </svg>
    </div>
</div>
<div class="row align-items-center mb-4">
    <div class="mx-auto p-5"
         style="background-image: url(' ../static/image/lottery.jpg');background-size: cover;width: 400px;height: 146px">
        <svg class="icon mx-auto text-dark" aria-hidden="true">
            <use xlink:href="#icon-shuzi0"></use>
        </svg>
        <svg class="icon mx-auto text-success" aria-hidden="true">
            <use xlink:href="#icon-shuzi1"></use>
        </svg>
        <svg class="icon mx-auto text-danger" aria-hidden="true">
            <use xlink:href="#icon-shuzi2"></use>
        </svg>
        <svg class="icon mx-auto text-warning" aria-hidden="true">
            <use xlink:href="#icon-shuzi3"></use>
        </svg>
        <svg class="icon mx-auto text-info" aria-hidden="true">
            <use xlink:href="#icon-shuzi4"></use>
        </svg>
        <svg class="icon mx-auto text-primary" aria-hidden="true">
            <use xlink:href="#icon-shuzi5"></use>
        </svg>
    </div>
</div>
</body>
</html>